.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.score {
    display: flex;
    align-items: center;
}

.scoreNumber {
    font-size: 40px;
    color: #f44336;
    margin-right: 10px;
}

.matches {
    font-size: 14px;
    color: black;
}

.matches span {
    display: block;
}

.icons {
    display: flex;
    gap: 15px;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.won {
    color: green;
}
.lost {
    color: red;
}
